@using SquishIt.Mvc

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    
    <title>@ViewBag.Title - Squishify by Seb Nilsson</title>
    
    @(Html.BundleJavaScript()
        .Add("~/Scripts/Html5Shiv.js")
        .MvcRender("top-min.#.js"))

    @(Html.BundleCss()
        .Add("~/Content/Reset.css")
        .Add("~/Content/Site.css")
        .MvcRender("main-min.#.css"))
</head>
<body>
    <div id="wrapper">
        <div id="app-info">
            <header>About Squishify:</header>
            <p>This is an application for minifying <strong>JavaScript</strong> and <strong>CSS</strong>,
                using the framework <a href="http://github.com/jetheredge/SquishIt">SquishIt</a>.</p>
            <p>The application is built on MVC 4 and uses Web API. <a href="http://github.com/sebnilsson/Squishify">The source code is available on GitHub.</a></p>
            <p id="created-by">Created by <a href="http://www.sebnilsson.com/">Seb Nilsson</a> - Twitter: <a href="http://twitter.com/sebnilsson">@@sebnilsson</a></p>
        </div>
        <div id="main-content">
            <h1>@ViewBag.Title</h1>

            <div class="nav-link">
                @RenderSection("NavLinks", false)
            </div>

            @RenderBody()

            <div class="section">
                @Html.Label("source-text", "Source code", new { @class = "header" })
                @Html.TextArea("source-text", string.Empty, 0, 0, null)
            </div>

            <div id="button-section" class="section">
            <button id="minify">Minify</button>
            </div>

            <div id="minifier-types"></div>

            <div class="section">
                @Html.Label("result-text", "Result", new { @class = "header" })
                @Html.TextArea("result-text", string.Empty, 0, 0, new { @readonly = "readonly" })

                <div id="result-stats">
                    <div id="org-size"><em>Original Size</em>: <span>-</span></div>
                    <div id="min-size"><em>Minified Size</em>: <span>-</span></div>
                    <div id="difference"><em>Reduction</em>: <span>-</span></div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>    
    <script>window.jQuery || document.write('<script src="@Url.Content("~/scripts/jquery-1.8.2.min.js")"><\/script>')</script>
    
    @(Html.BundleJavaScript()
        .Add("~/Scripts/jquery.corner.js")
        .Add("~/Scripts/json2.js")
        .Add("~/Content/site.js")
        .MvcRender("bottom-min.#.js"))

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-34402519-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>